/**
 * @name sanrio cinamoroll
 * @author xTsuya
 * @version 1.0.0
 * @description sanrio theme.
 * @BDEditor xTsuya
*/

/*textos*/

.name-28HaxV {
    color: pink;
}

.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
    color: rgb(133, 255, 239);
    font-weight: var(--font-weight-semibold-1x-light-theme, 500);
}

.container-q97qHp {
    color: rgb(255, 214, 221);
}

.icon-N9JZb6,
.username-vAneIW {
    color: pink;
}

.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .username-vAneIW,
.usernameSpeaking-3FKv6H {
    color: rgb(133, 255, 239);
}

.avatarSpeaking-2pCGrZ {
    -webkit-box-shadow: inset 0 0 0 2px var(--colorhabla), inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--colorhabla), inset 0 0 0 3px var(--background-secondary);
}

.name-2m3Cms {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    color: rgb(255, 188, 188);
    text-shadow: 0px 0px 3px rgb(255, 155, 238);
}

.selected-26oxtA {
    background: rgba(255, 192, 203, 0.473);
}


.interactive-26HRN_:focus-within,
.interactive-26HRN_:hover {

    background: rgba(168, 221, 223, 0.582)
}

.link-39sEB3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgb(210, 255, 253);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    width: 100%;
    height: 28px;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgba(217, 251, 255, 0.568);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
}

/*todo transparente*/

:root {
    --colorsombra: rgb(255, 160, 234);
    --colorhabla: rgb(0, 247, 255);
    --text-link: rgb(0, 247, 255);
    --text-normal: rgb(255, 255, 255);
    --channel-icon: pink;
    --interactive-active: pink;
    --background-secondary: transparent;
    --background-primary: rgba(0, 0, 0, 0.5);
    --header-primary: rgb(255, 173, 186);
    --background-tertiary: rgba(255, 192, 203, 0);
    --channels-default: pink;
    --primary-800: rgba(172, 142, 151, 0.863);;
    
}

.iconBadge-32fMme.participating-2Z81oO {
    background-color: rgb(0, 199, 176);
}

.iconBadge-32fMme {
    background-color: rgb(255, 0, 0);
}

.overlayBackground-2aa7wt,
.userProfileInnerThemedNonPremium-2AJg-H {
    background: rgba(0, 0, 0, 0.274);

    background-color: rgba(0, 0, 0, 0.247);
}

.scroller-kQBbkU,
.chat-2ZfjoI,
.content-1jQy2l {
    background: transparent;
}



/* fondo */
.bg-1QIAus {
    background-image: url('https://i.imgur.com/TLnwb7g.png');
    border-radius: none;
}

.layers-OrUESM {
    margin: 5px;
    border-radius: 10px;
    background-color: transparent;

}

.app-3xd6d0 {
    border-radius: none;
}

/*servidores*/
.guilds-2JjMmN {
    padding-top: 7px;
    margin-right: 5px;
    border-radius: 10px;
    position: relative;
    width: 72px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}


/*stream*/
.callContainer-HtHELf {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/*botones cerrado*/

.wordmarkWindows-2dq6rw {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 9px 3px;
    color: rgb(255, 118, 141) !important;
}

.winButtonClose-3Q8ZH5 {
    border-radius: 20px;
    background-color: pink;
}

.winButton-3UMjdg {
    color: rgb(0, 0, 0);
}

/*barrra arriba*/

.theme-dark .themed-Hp1KC_ {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top-left-radius: 10px;
}


.content-1jQy2l {
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    background-color: transparent;
}

/*perfil abajo*/
.wrapper-3Hk9OB {
    border-radius: 10px;
    background: transparent;
}

.panels-3wFtMD {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-top: 5px;
    margin-right: 5px;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: rgb(255, 149, 214);
    color: rgb(255, 255, 255);
}

.addButton-2mlqCW.forceVisible-14yqh4,
.iconVisibility-3pLDEs:hover .addButton-2mlqCW {
    display: block;
    color: rgb(0, 247, 255);
    border-radius: 10px;
}


.app-2CXKsg button {
    cursor: pointer;
    color: rgb(0, 247, 255);
    border-radius: 20px;
}

.button-1EGGcP.buttonColor-3bP3fX:hover,
.button-1EGGcP .buttonColor-3bP3fX:hover {
    background-color: rgba(0, 247, 255, 0.39);
    box-shadow: 0 0 6px var(--colorsombra);
}



.subtext-2HDqJ7 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(255, 255, 255);
    line-height: 13px;
}

.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX {
    background-color: rgba(0, 247, 255, 0.39);
    color: rgb(255, 255, 255);
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: rgb(255, 149, 214);
    box-shadow: 0 0 6px var(--colorsombra);
}

.container-1zzFcN {
    background-color: transparent;

}

.theme-dark .container-YkUktl {
    background-color: transparent;
}

.theme-dark .panel-2ZFCRb {
    background: transparent;
}

/*todo*/



/*mensajes*/
/*caja para escribir*/
.scrollableContainer-15eg7h {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    border-radius: 8px;
    background: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    scrollbar-width: none;
}

.channelTextArea-1FufC0 {
    margin-bottom: 24px;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-3gdLxP {
    margin-top: -4px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


.content-3spvdd {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 2px 4px;
    color: rgb(0, 153, 133) !important;
    background: pink !important;
    line-height: 13px;
    font-size: 12px;
    margin-top: -1px;
    font-weight: 600;
    border-radius: 8px;
}

.cozy-VmLDNB .timestamp-p1Df1m {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: pink;
    vertical-align: baseline;
}

.username-h_Y3Us {
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: var(--header-primary);
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.theme-dark .form-3gdLxP:before {
    background: transparent;

}

.grid-1aWVsE {
    background-color: transparent;

}

.gridContainer-1cF_Ic {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.embedFull-1HGV2S {
    background-color: rgba(0, 0, 0, 0);

    border-radius: 10px;
}

.chatContent-3KubbW {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 10px;
}

.cozy-VmLDNB .messageContent-2t3eCI {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    margin-left: 0px;
    border-radius: 10px;

}

.scroller-kQBbkU {
    background: rgb(0, 0, 0, 0.5);
    margin-bottom: 4px;
    backdrop-filter: blur(3px);
}

/*canales*/

.privateChannels-oVe7HL,
.searchBar-3TnChZ {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right: 5px;
    backdrop-filter: blur(5px);

}

.mainContent-20q_Hp:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: 0;
    
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background: rgba(238, 174, 202, 0.3);
    background: linear-gradient(90deg, rgba(238,174,202,0.3) 0%, rgba(148,187,233,0.6) 100%);
    border: solid 1px pink;
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
    background: linear-gradient(90deg, rgba(238,174,202,0) 0%, rgba(148,187,233,0.6) 100%);
}

.wrapper-2vIMkT{
    background-color: pink;
}

.button-3bklZh{
    color: rgb(0, 153, 133);
}

.platform-win .sidebar-1tnWFu {
    border-radius: 8px 0 0;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(5px);
}


.theme-dark .container-1NXEtd {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right: 5px;
}

.privateChannels-oVe7HL,
.searchBar-3TnChZ {
    background-color: rgba(0, 0, 0, 0.5);
}

.searchBar-3TnChZ {
    background-color: transparent;
}

.theme-dark .scroller-WSmht3 {
    background-color: transparent;
}



/*desplegable---------------------------------------------------------------------*/
.fixed-2BUuhP {
    width: 220px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.scroller-nxCRu_ {
    border-radius: 10px;
}
.menu-2TXYjN {
    background: rgba(90, 55, 55, 0.904);
    border-radius: 10px;  
}

.theme-dark .rootWithShadow-2hdL2J {
    -webkit-box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
    box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
}

.root-1CAIjD {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
    max-height: 100%;
    backdrop-filter: blur(5px);
}

.layer-fP3xEz {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 40px;
}


/*gente---------------------------------------------------------------------------*/

.layout-1qmrhw {
    backdrop-filter: blur(5px);
}

.member-48YF_l,
.members-3WRCEx {
    background: rgba(0, 0, 0, 0);

}

.members-3WRCEx {
    width: 240px;
    padding: 0 0 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);

}

.container-2o3qEW {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    background-image: url('https://i.imgur.com/MgPeScV.gif');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 100%;
}

.wrapper-2RrXDg {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--background-modifier-accent);
}


/*iconoghome----------------------------------------------------------------*/

.childWrapper-1j_1ub {
    -webkit-transition: background-color .15s ease-out, color .15s ease-out;
    transition: background-color .15s ease-out, color .15s ease-out;
    background-color: rgb(133, 255, 239);
    color: red;
}

.homeIcon-r0w4ny path,
.favoriteIcon-2kWmTP path {
    display: none;
}

.homeIcon-r0w4ny,
.favoriteIcon-2kWmTP {
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.theme-dark .homeIcon-r0w4ny {
    background-image: url('https://raw.githubusercontent.com/XTsuya/ceseese/main/Sin%20t%C3%ADtulo-1_Mesa%20de%20trabajo%201.png');
}

.theme-light .homeIcon-r0w4ny {
    background-image: url('https://raw.githubusercontent.com/XTsuya/ceseese/main/Sin%20t%C3%ADtulo-1_Mesa%20de%20trabajo%201.png');
}

.wrapper-3kah-n.selected-1Drb7Z .homeIcon-r0w4ny,
.wrapper-3kah-n:hover .homeIcon-r0w4ny {
    background-image: url('https://raw.githubusercontent.com/XTsuya/ceseese/main/Sin%20t%C3%ADtulo-1_Mesa%20de%20trabajo%201.png');
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {

    background-color: rgb(133, 255, 239);
}

/*icon-----------------------*/

.icon-2W8DHg {
    color: rgb(133, 255, 239);
}

.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: pink;
}

/*amigos----------------------------------------------------------*/
.container-2cd8Mz {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgb(0, 0, 0, 0);
    backdrop-filter: blur(5px);
}

.peopleColumn-1wMU14 {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
}

.scroller-hE2gWq {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    height: 100%;
    border-left: 0px solid var(--background-modifier-accent);
    margin-left: 0px;
}

.container-1oAagU {
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
}

.listItemContents-2n2Uy9 {
    background-color: rgba(252, 252, 252, 0);
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.userInfo-2WpsYG {
    margin-left: 7px;
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
    background: rgba(255, 185, 185, 0.247);


}

/*vendcore*/

.vc-error-card {
    padding: 2em;
    background-color: #e7828430;
    border: 1px solid #e78284;
    border-radius: 5px;
    color: var(--text-normal, white)
}

.vc-notification-root {
    all: unset;
    display: flex;
    flex-direction: column;
    color: var(--text-normal);
    background-color: var(--background-secondary-alt);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    width: 100%
}

.vc-notification-root:not(.vc-notification-log-wrapper > .vc-notification-root) {
    position: absolute;
    z-index: 2147483647;
    right: 1rem;
    width: 25vw;
    min-height: 10vh
}

.vc-notification {
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    gap: 1.25rem
}

.vc-notification-content {
    width: 100%
}

.vc-notification-header {
    display: flex;
    justify-content: space-between
}

.vc-notification-title {
    color: var(--header-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-transform: uppercase
}

.vc-notification-close-btn {
    all: unset;
    cursor: pointer;
    color: var(--interactive-normal);
    opacity: .5;
    transition: opacity .2s ease-in-out, color .2s ease-in-out
}

.vc-notification-close-btn:hover {
    color: var(--interactive-hover);
    opacity: 1
}

.vc-notification-icon {
    height: 4rem;
    width: 4rem;
    border-radius: 6px
}

.vc-notification-progressbar {
    height: .25rem;
    border-radius: 5px;
    margin-top: auto
}

.vc-notification-p {
    margin: .5rem 0 0;
    line-height: 140%
}

.vc-notification-img {
    width: 100%
}

.vc-notification-log-empty {
    height: 218px;
    background: url(/assets/b36de980b174d7b798c89f35c116e5c6.svg) center no-repeat;
    margin-bottom: 40px
}

.vc-notification-log-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: hidden
}

.vc-notification-log-wrapper {
    transition: .2s ease;
    transition-property: height, opacity
}

.vc-notification-log-wrapper:not(:last-child) {
    margin-bottom: 1em
}

.vc-notification-log-removing {
    height: 0 !important;
    opacity: 0;
    margin-bottom: 1em
}

.vc-notification-log-body {
    display: flex;
    flex-direction: column
}

.vc-notification-log-timestamp {
    margin-left: auto;
    font-size: .8em;
    font-weight: lighter
}

.vc-notification-log-danger-btn {
    color: var(--white-500);
    background-color: var(--button-danger-background)
}

.vc-bf-folder-sidebar [class*=wrapper-]>[class*=listItem-]:first-of-type,
.vc-bf-folder-sidebar [class*=unreadMentionsIndicator] {
    display: none
}

.vc-bf-folder-sidebar [class*=expandedFolderBackground-] {
    background-color: transparent
}

.vc-bf-folder-sidebar {
    display: flex
}

.vc-bf-fullscreen {
    width: 0 !important;
    visibility: hidden
}

.messagelogger-deleted [class^=buttons] {
    display: none
}

.messagelogger-deleted :is(video, .emoji, [data-type="sticker"]),
.messagelogger-deleted .messagelogger-deleted-attachment,
.messagelogger-deleted div iframe {
    filter: grayscale(1) !important;
    transition: .15s filter ease-in-out
}

.messagelogger-deleted:hover :is(video, .emoji, [data-type="sticker"]),
.messagelogger-deleted .messagelogger-deleted-attachment:hover,
.messagelogger-deleted iframe:hover {
    filter: grayscale(0) !important
}

.theme-dark .messagelogger-edited {
    filter: brightness(80%)
}

.theme-light .messagelogger-edited {
    opacity: .5
}

.vc-pronoundb-compact {
    display: none
}

[class*=compact] .vc-pronoundb-compact {
    display: inline-block;
    margin-left: -2px;
    margin-right: .25rem
}

[class|=section]:not([class|="lastSection"])+.vc-reviewdb-view {
    margin-top: 12px
}

.vc-st-modal-content input {
    background-color: var(--input-background);
    color: var(--text-normal);
    width: 95%;
    padding: 8px 8px 8px 12px;
    margin: 1em 0;
    outline: none;
    border: 1px solid var(--input-background);
    border-radius: 4px;
    font-weight: 500;
    font-style: inherit;
    font-size: 100%
}

.vc-st-format-label,
.vc-st-format-label span {
    background-color: transparent
}

.vc-st-modal-content [class|=select] {
    margin-bottom: 1em
}

.vc-st-modal-content [class|=select] span {
    background-color: var(--input-background)
}

.vc-st-modal-header {
    justify-content: space-between;
    align-content: center
}

.vc-st-modal-header h1 {
    margin: 0
}

.vc-st-modal-header button {
    padding: 0
}

.vc-st-preview-text {
    margin-bottom: 1em
}

.vc-st-button {
    padding: 0 8px
}

.vc-st-button svg {
    transform: scale(1.1) translateY(1px)
}

.vc-settings-tab-bar {
    margin-top: 20px;
    margin-bottom: -2px;
    border-bottom: 2px solid var(--background-modifier-accent)
}

.vc-settings-tab-bar-item {
    margin-right: 32px;
    padding-bottom: 16px;
    margin-bottom: -2px
}

.vc-settings-quick-actions-card {
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    flex-flow: row wrap;
    margin-bottom: 1em
}

.vc-settings-donate {
    display: flex;
    flex-direction: row
}

.vc-settings-card {
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em
}

.vc-backup-restore-card {
    background-color: var(--info-warning-background);
    border-color: var(--info-warning-foreground);
    color: var(--info-warning-text);
    margin-top: 0
}

.vc-settings-theme-links {
    display: inline-block !important;
    color: var(--text-normal) !important;
    padding: .5em;
    border: 1px solid var(--background-modifier-accent)
}

.vc-cloud-settings-sync-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em
}

.vc-cloud-erase-data-danger-btn {
    color: var(--white-500);
    background-color: var(--button-danger-background)
}

.vc-text-selectable,
.vc-text-selectable :not(a, button) {
    user-select: text;
    cursor: initial
}

.vc-plugins-grid {
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.vc-plugins-card {
    background-color: var(--background-secondary-alt);
    color: var(--interactive-active);
    border-radius: 8px;
    display: block;
    height: 100%;
    padding: 12px;
    width: 100%;
    transition: .1s ease-out;
    transition-property: box-shadow, transform, background, opacity
}

.vc-plugins-card-disabled {
    opacity: .6
}

.vc-plugins-card:hover {
    background-color: var(--background-tertiary);
    transform: translateY(-1px);
    box-shadow: var(--elevation-high)
}

.vc-plugins-card-header {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 1.5rem;
    align-items: center;
    gap: 8px
}

.vc-plugins-info-button {
    height: 24px;
    width: 24px;
    padding: 0;
    background: transparent;
    margin-right: 8px
}

.vc-plugins-settings-button:hover {
    color: var(--interactive-hover)
}

.vc-plugins-filter-controls {
    display: grid;
    height: 40px;
    gap: 10px;
    grid-template-columns: 1fr 150px
}

.vc-plugins-badge {
    padding: 0 6px;
    font-family: var(--font-display);
    font-weight: 500;
    border-radius: 8px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: var(--white-500);
    text-align: center
}

.vc-plugins-note {
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical
}

.vc-plugins-name {
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
    cursor: "default"
}

.vc-plugins-dep-name {
    margin: 0 auto
}

.vc-plugins-info-card {
    padding: 1em;
    height: 8em;
    display: flex;
    flex-direction: column
}

.vc-plugins-info-card div {
    line-height: 32px
}

.vc-plugins-restart-card {
    padding: 1em;
    background: var(--info-warning-background);
    border: 1px solid var(--info-warning-foreground);
    color: var(--info-warning-text)
}

.vc-plugins-restart-card button {
    margin-top: .5em
}

.vc-plugins-info-button svg:not(:hover, :focus) {
    color: var(--text-muted)
}

.vc-switch-slider {
    transition: .1s transform ease-in-out
}

.shiki-container {
    border: 4px;
    background-color: var(--background-secondary)
}

.shiki-root {
    border-radius: 4px
}

.shiki-root code {
    display: block;
    overflow-x: auto;
    padding: .5em;
    position: relative;
    font-size: .875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: transparent;
    border: none
}

.shiki-devicon {
    margin-right: 8px;
    user-select: none
}

.shiki-plain code {
    padding-top: 8px
}

.shiki-btns {
    font-size: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0
}

.shiki-root:hover .shiki-btns {
    opacity: 1
}

.shiki-btn {
    border-radius: 4px 4px 0 0;
    padding: 4px 8px;
    user-select: none
}

.shiki-btn~.shiki-btn {
    margin-left: 4px
}

.shiki-btn:last-child {
    border-radius: 4px 0
}

.shiki-spinner-container {
    align-items: center;
    background-color: #0009;
    display: flex;
    position: absolute;
    justify-content: center;
    inset: 0
}

.shiki-preview {
    margin-bottom: 2em
}

.shiki-lang {
    padding: 0 5px;
    margin-bottom: 6px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    align-items: center
}

.shiki-table {
    border-collapse: collapse;
    width: 100%
}

.shiki-table tr {
    height: 19px;
    width: 100%
}

.shiki-root td:first-child {
    border-right: 1px solid transparent;
    padding-left: 5px;
    padding-right: 8px;
    user-select: none
}

.shiki-root td:last-child {
    padding-left: 8px;
    word-break: break-word;
    width: 100%
}

.shc-lock-screen-outer-container {
    overflow: hidden scroll;
    flex: 1 1 auto;
    height: 100%;
    width: 100%
}

.shc-lock-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100%
}

.shc-lock-screen-container>* {
    margin: 5px
}

.shc-lock-screen-logo {
    width: 180px;
    height: 180px
}

.shc-lock-screen-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center
}

.shc-lock-screen-heading-container>* {
    margin: inherit
}

.shc-lock-screen-heading-nsfw-icon>path {
    fill: var(--text-normal);
    fill-rule: evenodd
}

.shc-lock-screen-topic-container {
    color: var(--text-normal);
    background: var(--bg-overlay-3, var(--background-secondary));
    border-radius: 5px;
    padding: 10px;
    max-width: 70vw
}

.shc-lock-screen-tags-container {
    background: var(--bg-overlay-3, var(--background-secondary));
    border-radius: 5px;
    padding: 10px;
    max-width: 70vw
}

.shc-lock-screen-tags-container>* {
    margin: inherit
}

.shc-lock-screen-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px
}

.shc-evenodd-fill-current-color {
    fill-rule: evenodd;
    fill: currentcolor
}

.shc-hidden-channel-icon {
    margin-left: 6px;
    z-index: 0;
    cursor: not-allowed
}

.shc-lock-screen-default-emoji-container {
    display: flex;
    flex-direction: row;
    align-items: center
}

.shc-lock-screen-default-emoji-container>[class^=emojiContainer] {
    background: var(--bg-overlay-3, var(--background-secondary));
    border-radius: 8px;
    padding: 5px 6px;
    margin-left: 5px
}

.shc-lock-screen-allowed-users-and-roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-overlay-3, var(--background-secondary));
    border-radius: 5px;
    padding: 10px;
    max-width: 70vw
}

.shc-lock-screen-allowed-users-and-roles-container>[class^=members] {
    margin-left: 10px;
    flex-wrap: wrap;
    justify-content: center
}

.vc-smyn-suffix {
    color: var(--text-muted)
}

.vc-smyn-suffix:before {
    content: "("
}

.vc-smyn-suffix:after {
    content: ")"
}

#vc-spotify-player {
    padding: .375rem .5rem;
    border-bottom: 1px solid var(--background-modifier-accent);
    --vc-spotify-green: #1db954
}

.theme-light #vc-spotify-player {
    background: #1db954
}

.theme-dark #vc-spotify-player {
    background: transparent;
}

.vc-spotify-button {
    background: none;
    color: var(--interactive-normal);
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.vc-spotify-button:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-selected)
}

.vc-spotify-button svg {
    height: 24px;
    width: 24px
}

[class*=vc-spotify-shuffle]>svg,
[class*=vc-spotify-repeat]>svg {
    width: 22px;
    height: 22px
}

.vc-spotify-button svg path {
    width: 100%;
    height: 100%
}

.vc-spotify-shuffle-on,
.vc-spotify-repeat-context,
.vc-spotify-repeat-track,
.vc-spotify-shuffle-on:hover,
.vc-spotify-repeat-context:hover,
.vc-spotify-repeat-track:hover {
    color: var(--vc-spotify-green)
}

.vc-spotify-tooltip-text {
    overflow: hidden;
    white-space: nowrap;
    padding-right: .2em;
    max-width: 100%;
    margin: unset
}

.vc-spotify-repeat-1 {
    font-size: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.vc-spotify-button-row {
    justify-content: center
}

#vc-spotify-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    gap: .5em
}

#vc-spotify-info-wrapper img {
    height: 90%;
    object-fit: contain
}

#vc-spotify-album-expanded-wrapper img {
    width: 100%;
    object-fit: contain
}

#vc-spotify-titles {
    display: flex;
    flex-direction: column;
    padding: .2rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden
}

#vc-spotify-song-title {
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 600
}

.vc-spotify-ellipoverflow {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis
}

.vc-spotify-artist,
.vc-spotify-album {
    font-size: 12px;
    text-decoration: none;
    color: var(--header-secondary)
}

.vc-spotify-comma {
    color: var(--header-secondary)
}

.vc-spotify-artist:hover,
#vc-spotify-album-title:hover,
#vc-spotify-song-title[role=link]:hover {
    text-decoration: underline;
    cursor: pointer
}

#vc-spotify-album-image {
    border-radius: 3px;
    transition: filter .2s
}

#vc-spotify-album-image:hover {
    filter: brightness(1.2);
    cursor: pointer
}

#vc-spotify-progress-bar {
    position: relative;
    color: var(--text-normal);
    width: 100%;
    margin: .5em 0 5px
}

#vc-spotify-progress-bar>[class^=slider] {
    flex-grow: 1;
    width: 100%;
    padding: 0 !important
}

#vc-spotify-progress-bar>[class^=slider] [class^=bar-] {
    height: 4px !important
}

#vc-spotify-progress-bar>[class^=slider] [class^=grabber] {
    height: 10px !important;
    width: 10px !important;
    background-color: var(--interactive-normal);
    border-color: var(--interactive-normal);
    color: var(--interactive-normal)
}

#vc-spotify-progress-text {
    margin: 0
}

.vc-spotify-progress-time {
    font-size: 12px;
    top: 10px;
    position: absolute
}

.vc-spotify-time-left {
    left: 0
}

.vc-spotify-time-right {
    right: 0
}

.vc-spotify-fallback {
    padding: .5em;
    color: var(--text-normal)
}

.vc-uvs-button>div {
    white-space: normal !important
}

.vc-uvs-button {
    width: 100%;
    margin: auto;
    height: unset
}

.vc-uvs-header {
    color: var(--header-primary);
    margin-bottom: 6px
}

.vc-uvs-modal-margin>[class^=section] {
    margin: 0 12px
}
